
.articleContainer{
    padding: 30px;
}

.articleTitle{
    margin-bottom:5px;
    color: black;
    font: bold 25px "Times New Roman", Times, serif;
}

.articlePicture{
    height: 400px;
    width: calc(400px * 1.78);
}

.articlePictureContainer{
    overflow:auto;
    display:inline-block;
}

.optionsContainer{
    height: 400px;
    width: calc(1100px - 2 * 30px - 400px * 1.78 - 15px);
    margin-left:10px;
    padding: 5px;
    background-color: #d1ca92;
    border-radius: 3px;
    vertical-align: top;
    display:inline-block;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow:
            inset 0 2px 3px rgba(255,255,255,0.3),
            inset 0 -2px 3px rgba(0,0,0,0.3),
            0 1px 1px rgba(255,255,255,0.9);
}

.articleData{
    margin-left: 15px;
    margin-bottom: 10px;
}

.articleAuthor{
    text-decoration: none;
    color: darkslategrey;
}

.articleAuthor:hover{
    text-decoration: none;
    opacity: 0.75;
}

.articleDivider{
    margin-left: 5px;
    margin-right: 5px;
}

.commentsTitle{
    margin-top:40px;
    margin-bottom:20px;
    font: bold 25px "Times New Roman", Times, serif;
}

.commentContainer{
    margin-left: 10px;
}

.commentAuthor{
    color: #0b2e66;
    font: bold 20px "Times New Roman", Times, serif;
    margin-bottom: 5px;
}

.commentContext{
    margin-bottom: 7px;
}

.commentAdditional{
    margin-bottom: 15px;
}

.commentMark{
    margin-left: 2px;
    margin-right: 2px;
    padding: 1px;
    width: 35px;
    background-color: black;
    color: white;
    display:inline-block;
    border-radius: 5px;
    text-align: center;
}

.commentRate{
    color: darkslategrey;
    text-decoration: none;
}

.commentRate:hover{
    text-decoration: none;
    cursor:pointer;
    opacity: 0.75;
}

.commentDate{
    margin-left: 10px;
}

.commentDelete{
    margin-left: 10px;
}

.commentDelete:hover{
    text-decoration: none;
}

.articleContent{
    margin-top:40px;
}

.optionsContainer{
    text-align: center;
}

.rateContainer{
    margin-top: 5px;
    margin-bottom: 15px;
    font: bold 18px "Times New Roman", Times, serif;
}

.ratePicture{
    width: 180px;
    height: calc(150px / 5.18);
}

.stars{
    margin-top: 10px;
}

.butmarg{
    margin-top: 5px;
    margin-bottom: 5px;
}

.emphasize-dark {
    box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
}

.moveLeft{
    margin-left: 20px;
}

.moreToLeft{
    margin-left: 28px;
}