
.dropdown{
    position:relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    margin-top:16px;
    z-index: 1;
    border: 2px solid blue;
    border-top: none;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropdownContent a{
    min-width:130px;
    padding:7px;
    color:black;
    text-decoration: none;
    display:block;
    text-align:center;
    font: bold 15px "Times New Roman", Times, serif;
}

.dropdownContent a:hover{
    background-color: #1b6d85;
}

.dropdown a:last-child:hover{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.bottomCurve{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}