
.lesserPictureContainer{
    margin-left: 25px;
    height: 130px;
    width: calc(130px * 1.78);
    display:inline-block;
}

.lesserPictureContainer:hover{
    opacity: 0.75;
}

.lesserPicture{
    height: 130px;
    width: calc(130px * 1.78);
}

.lesserPictureTitle{
    padding-top:5px;
    padding-left:5px;
    padding-right:5px;
    font: bold 20px "Times New Roman", Times, serif;
}