@import url("logo.css");
@import url("menu.css");
@import url("mainPage.css");
@import url("topPanel.css");
@import url("slideShow.css");
@import url("lesserPicture.css");
@import url("secondPriority.css");
@import url("justTitle.css");
@import url("dropdownMenu.css");
@import url("search.css");