
body{
    margin-top:10px;
    margin-bottom:20px;

}

#top{
    height:150px;
    width: 1100px;
    margin: auto;
}

#container{
    width: 1100px;
    min-height: 380px;
    margin: auto;
    background-color: #ddd9b8;
    box-shadow: 0px 15px 30px 10px;
}

.noSelect{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.noDisplay{
    display:none;
}

.inline{
    display:inline-block;
}

.noResize{
    resize: none;
}