
#menu{
    width:1126px;
    height: 55px;
    margin: auto;
    border-radius: 15px;
    border: 2px solid blue;
    z-index: 1;
}

#menu.affix{
    position:fixed;
    top: 0;
    right:50%;
    margin-right: -563px;
}

#container.affix2{
    margin-top:50px;
}

.home{
    padding: 8px 0px 0px 10px;
    font-size:30px;
    color: white;
    text-decoration: none;
    float: left;
}

#panelButton{
    width: 145px;
    height: 35px;
    margin-right:10px;
    color: white;
    background-color: #16b50e;
    text-decoration: none;

}

.registerButton{
    width: 115px;
    height: 35px;
    margin-right:10px;
    color: white;
    background-color: #16b50e;
    text-decoration: none;

}

#search{
    margin-top: 9px;
    margin-right: 16px;
    padding: 6px;
    border:none;
    color: black;
    font-size: 15px;
}

.divider{
    padding: 0px 0px 0px 10px;
    font-size: 30px;
    float: left;
}

.menuItem{
    width:134px;
    height:51px;
    padding-top:13px;
    float:left;
    text-align: center;
    font: bold 18px "Times New Roman", Times, serif;
    cursor:pointer;
}


/*.menuItem:hover{
    text-shadow: 1px 0px 12px rgba(255, 255, 255, 1);
}*/
