
.userPanelDelete{
    margin-left: 10px;
}

.userPanelTopic{
    margin-top: 10px;
    margin-left: 5px;
}

.userPanelButtons{
    margin-top: 20px;
}

.space{
    margin-left: 10px;
}

.error{
    color: red;
}

.spaceTop{
    margin-top: 10px;
}

.userPanelArticles{
    margin-top:5px;
}

.userPanelArticles a{
    color: black;
    font: bold 18px "Times New Roman", Times, serif;
}

.userPanelArticles a:hover{

    color:black;
    text-decoration:none;
    opacity: 0.75;
}

.statsWidth{
    width: 150px;
}

.statsCenter{
    text-align:center;
}

.statsBottom{
    margin-bottom: 15px;
}

.usersWidth{
    width: 100px;
}

.fastTravel{
    padding-top:20px;
    padding-left:20px;
}

.lessSpace{
    margin-left: 5px;
}